<div data-hook="admin_user_form_fields">
  <div class="row">
    <div class="col-md-12">
      <div data-hook="affiliate_name">
        <%= f.field_container :name, class: ['form-group'] do %>
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, class: 'form-control' %>
          <%= error_message_on :user, :name %>
        <% end %>
      </div>

      <div data-hook="affiliate_email">
        <%= f.field_container :email, class: ['form-group'] do %>
          <%= f.label :email, Spree.t(:email) %>
          <%= f.text_field :email, class: 'form-control' %>
          <%= f.error_message_on :email %>
        <% end %>
      </div>

      <div data-hook="affiliate_partial">
        <%= f.field_container :partial, class: ['form-group'] do %>
          <%= f.label :partial, Spree.t(:partial) + " (leave blank if no partial) " %>
          <p><%= Spree.t(:affiliate_partial_path) %> <%= f.text_field :partial, class: 'form-control' %></p>
          <%= f.error_message_on :partial %>
        <% end %>
      </div>

      <div data-hook="affiliate_path">
        <%= f.field_container :path, class: ['form-group'] do %>
          <%= f.label :path, Spree.t(:path) %>
          <%= f.text_field :path, class: 'form-control' %>
          <%= f.error_message_on :path %>
        <% end %>
      </div>

      <div data-hook="affiliate_layout">
        <%= f.field_container :layout, class: ['form-group'] do %>
          <%= f.label :layout, Spree.t(:layout) %>
          <%= select_tag 'fake_layout', options_for_select(@layout_options, selected: @affiliate.layout), class: "select2 #{'other' unless @layout_options.flatten.include?(@affiliate.layout)}" %>
          <p>
            <br/>
            <%= f.text_field :layout, value: @affiliate.layout.nil? ? @layout_options.first : @affiliate.layout, class: 'form-control' %>
          </p>
          <%= f.error_message_on :layout %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <fieldset data-hook="admin_affiliate_edit_general_settings" class="alpha twelve columns">
    <legend><%= Spree.t(:commission_info) %></legend>
      <%= f.fields_for :affiliate_commission_rules  do |aff_comm_rule| %>
        <% rule = aff_comm_rule.object.commission_rule %>
        <div class="col-md-6">
          <div data-hook="affiliate_commission">
            <%= aff_comm_rule.label :rate, "#{ rule.name } (#{rule.fixed_commission? ? 'fixed commission' : '% commission'})" %>
            <%= aff_comm_rule.text_field :rate, class: 'form-control' %>
            <%= aff_comm_rule.hidden_field :commission_rule_id %>
          </div>
        </div>
        <div class="col-md-6">
          <%= aff_comm_rule.label :active, :active %>
          <%= aff_comm_rule.check_box :active, class: 'form-control' %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
<script>
  var fake_layout = $("#fake_layout"),
      affiliate_layout = $("#affiliate_layout");
  fake_layout.on("change", function(){
    affiliate_layout.hide();
    if ($(this).val() != '') {
      affiliate_layout.val($(this).val());
    } else {
      affiliate_layout.val('layouts/application').show().focus();
    }
  });
  if (!fake_layout.hasClass('other')) {
    affiliate_layout.hide();
  } else {
    fake_layout.val('');
  }
</script>
